*{
    scroll-behavior: smooth;
    
}
body{
    /* background-color: orange; */
    /* background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}


.schedule-page-heading{
    font-family: 'Rokkitt', serif;
    font-size: 2.7rem;
}
.schedule-section{
    /* background-image: url('../images/images.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; */
}
.schedule-block{
    
    /* margin-top: 50px; */
    margin-bottom: 50px;
}
.schedule-layout{
    font-family: 'Old Standard TT', serif;
    margin-left:  50px;
    display: inline-flex;
}
.line{
    border: 1px solid coral;
    background-color: coral;
    width: 0;
    padding: 0;
    margin: 0;
    border-radius: 0px;
    height: 750px;
}
.fa-circle-o-notch{
    color: coral;
    background-color: coral;
}
.rounds{
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    right: 20px;
}
.round{
    margin-bottom: 20px;
    transition: transform 450ms ease-in;
}
.round:hover,.round:focus{
    transform: scale(1.02); 
    transition: transform 450ms ease-in;
}

.round-title{
    position: relative;
    right: 20px;
    background-color: coral;
    color: white;
    width: fit-content;
    border: 2px solid chocolate;
    border-radius: 3px;
    z-index: 2;
}
/* .round-title:hover{
    border:grey solid 4px;
} */
.round-title-text{
    padding: 10px;
}
.round-point{
    position: relative;
    top: 50px;
    left:11px;
}
.round-details{
    position: relative;
    left: 30px;
}
.round-name{
    font-weight: bold;
    color: coral
}


.faq-card{
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    /* width: 65vw; */
    /* padding-top: 0; */
    font-family: 'Open Sans Condensed', sans-serif;
    border: 0;
    
}
/* .faq-card:hover .fa-arrow-circle-down, .faq-card:active .fa-arrow-circle-down{
    color: green;

} */
.faq-question{
    font-size: 1.5rem;
    font-family: 'Playfair Display', serif;
}
/* .faq-question:hover,.faq-question:active,.faq-question:active{
    background-color: grey;
} */
.faq-answer{
    display: none;
    font-size: 1.3rem;
}

/* .sponsors-title{
    align-self: center;
    margin: auto;
} */
/* .sponsors-block{
    margin: 20px;
} */
.sponsor-main{
    margin: 20px;
}
.sponsor-card{
    
    margin: auto;
    margin-top: 20px;
    min-width: 18rem;
    width: 35vw;
    height: auto;
    position: relative;
    bottom: 0;
    transition: all 350ms ease-in;
}
.sponsor-card:hover{
    bottom: 20px;
    transition: all 350ms ease-in;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    /* text-shadow: 2px 2px 5px cyan; */

}
.sponsor-2-card{
    
    margin: auto;
    margin-top: 20px;
    min-width: 15rem;
    width: 20vw;
    height: auto;
    position: relative;
    bottom: 0;
    transition: all 350ms ease-in;
}
.sponsor-2-card:hover{
    bottom: 20px;
    transition: all 350ms ease-in;
    /* text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue; */
    /* text-shadow: 1px 1px 5px rgb(41, 3, 255); */
}
.card-img-top{
    align-self: center;
    width: 70%;
}





.footer-block{
    /* position: absolute;
    bottom: 0; */
    background-color: black;
    padding: auto;
    padding: 20px;
}
.footer-list{
    padding-left: 5px;
    font-size: 0.9rem;
}
.footer-description{
    font-size: 0.8rem;
}
.footer-links a{
    text-decoration: none;
    color: whitesmoke;
}
.footer-links a:hover,.footer-links a:focus{
    color: cyan;
    transform: scale(1.04); 
    transition: all 150ms ease-in;

}
.footer-links-anchor{
    position: relative;
}
.footer-links-anchor::after{
    content: '';
    position: absolute;
    left: -1px;
    bottom: 0;
    height: 1px;
    width: 110%;
    background-color: cyan;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}
.footer-links-anchor:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}
/* .footer-links a:hover::after{
    content: '';
    height: 2px;
    position: absolute;
    width: 100%;
    transform: scaleX(0.5);
    background-color: cyan;
    transform: scale(1.04); 
    transition: all 150ms ease-in;

} */
/* .footer-links a:visit{
    color: whitesmoke;
    transform: scale(1); 
    transition: all 150ms ease-in;

} */
.social-links a{
    color: gray;
}
.social-links i:hover{
    color: cyan;
    transform: scale(1.04); 
    transition: all 150ms ease-in;

}


.row{
    margin-bottom: 20px;
    align-items: center;
}
.hidden{
    display: none;
}