#lastResults {
  background-image: url("../images/past-results.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

#lastResults h2 {
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.mainData {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
}

.result-card {
  display: inline-block;
  margin: 10vh;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

/* .show {
  margin: 10%;
  height: 80%;
  transition: all 0.5s ease-in;
} */

.front {
  background-color: orange;
  margin-bottom: 0;
}

.back {
  background-color: yellow;
  margin-top: 0;
}

.hide {
  height: 0;
  overflow-y: hidden;
  transition-property: height;
  transition: all 0.5s ease-in;
}

.win-img {
  width: 100%;
}

.hrule {
  height: 20px;
  width: 100px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: dotted;
  border-bottom-width: 20px;
  border-bottom-color: red;
}

.containerInStyle {
  padding: 50px;
  font-size: 25px;
}

.head-about {
  font-size: 4rem;
  text-align: center;
  font-weight: 700;
  display: block;
  margin-top: 70px;
}

/* .color-change {
  color: white;
}

.schedule-data {
  background: url("../images/schedule-back.jpg");
  background-repeat: no-repeat;
} */
