#lastResults {
  text-align: center;
}

.resultCard {
  display: inline-block;
  margin: 10vh;
  width: 45vh;
  height: 45vh;
  border-radius: 10%;
  background-color: red;
  padding: 2vh;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.show {
  margin: 10%;
  height: 80%;
  transition-property: height;
  transition-duration: 0.5s;
}

.front {
  background-color: orange;
}

.back {
  background-color: yellow;
}

.hide {
  height: 0;
  overflow-y: hidden;
  transition-property: height;
  transition-duration: 0.5s;
}

.footer-block {
  /* position: absolute;
    bottom: 0; */
  background-color: black;
  padding: auto;
  padding: 20px;
}
.footer-list {
  padding-left: 5px;
  font-size: 0.9rem;
}
.footer-description {
  font-size: 0.8rem;
}

.row {
  margin-bottom: 20px;
  align-items: center;
}
