#intro{
    /* background-image: url('./images/trial_back1.jpg');
    background-repeat: no-repeat; 
    object-fit: cover;
    background-size: 100% 100%; */
    width: 100%;
    height: 100vh;
}
.contest-name{
    
    font-weight: bold;
    color: white;
    font-size: 90px;
}
.intro-heading{
    position: relative;
    top: 150px;
    font-weight: bold;
    color: white;
}
.intro-secondary-heading{
    position: relative;
}
.intro-secondary-heading::after{
    content: '';
    position: absolute;
    top: 2px;
    /* right: -1px; */
    background-color: white;
    width: 2px;
    height: 100%;
    animation: blink 500ms infinite;
}
@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }